body{
  background-color: #e7eaf6;
}
.container {
  margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* Temel stiller */
.chosen-value {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
  }
  
  /* Giriş alanı için stiller */
  button {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    color: #ff0000; /* Rengi değiştirerek hover etkisini gösterebilirsiniz */
  }
  
  .content{
    border: 5px solid #a2a8d3;
    border-radius: 8px;
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }

  ul{
    padding-left: 0;
  }

  li{
    list-style: none;
  }

  .contentdaily{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .contentcomingdays{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 0 10px 10px 10px;
  }

  .middle{
    margin: 10px 10px 10px 10px;
    padding: 10px 0;
    background-color: #fff6da; 
    border-radius: 8px;
    font-weight: 500;
  }

  .degree{
    align-self: center;
    font-size: 40px;
    font-weight: 500;
  }

  .details{
    align-self: center;
  }
  .card{
    background-color: #dffff6;
    border-radius: 8px;
    padding: 10px 0;
  }

  .contentheader{
    background-color: #daffda;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

  .daily{
    font-size: 30px;
    font-weight: 500;
  }

  @media (max-width: 450px) {
    .contentdaily{
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  @media (max-width:565px){
    .contentcomingdays{
      grid-template-columns: 1fr;
    }
  }

  ul.infoli {
    list-style-type: none; 
    padding: 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul.infoli li {
    padding: 10px 20px;
    background-color: #f6f6f6;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    gap: 10px;
  }
  
  ul.infoli li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  ul.infoli svg {
    fill: #333;
    transition: fill 0.3s ease;
  }
  
  ul.infoli li a:hover svg {
    fill: #0077b5;
  }
  
  ul.infoli li.li2 a:hover svg {
    fill: #4078c0;
  }
  
  .footer{
    margin-top: 15px;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }